.form-wrapper {
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-slider-wrapper {
    padding: 0 10px;
    width: 90%;
}

.form-slider {
    width: 99%;
}

.form-item-hidden {
    display: none;
}
